{{extend 'layout.html'}}
<h2>About the app</h2>
<p>
    This app is built using:

<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Bootstrap 4</li>
    <li>SQLite</li>
    <li>Python</li>
    <li>Web2py</li>
    <li>Openweather API</li>
</ul>
</p>

<p>
    In case you need to access all the search records log,<br>
    login using <b>email:oasisagano@gmail.com</b>,
    <b>password:oasisagano</b>
</p>
