{{extend 'layout.html'}}

{{block header}}
<center style="background-color: #333; color:white; padding:30px">
    <h1>{{=T('Welcome on Weathero')}}</h1>
    <h5>Find the weather of any city</h5>
</center>
{{end}}


<center style="padding:10px">
    <div class="container">
        <form method="post" enctype="multipart/form-data" action="{{=URL()}}">
            <input type="text" class="form-control" name="city" placeholder="Type in a city" required><br>
            <input type="submit" class="btn btn-info">
        </form>
    </div>
</center>
<script type="text/javascript">
    //alert(moment("1518602400").format('ddd'));
</script>
{{if 'data' in globals():}}
<div class="row">
    <div class="col-md-3 ">
        <div class="card card-outline-primary mb-3 text-center">
            <h2>City Description</h2>
            <b>City:</b> {{=data['city']['name']}}<br>
        {{if data['city']['population']:}}
            <b>Population:</b> {{=data['city']['population']}} Residents<br>
            <b>Longitude:</b> {{=data['city']['coord']['lon']}}<br>
            <b>Latitude:</b> {{=data['city']['coord']['lat']}}

        {{else:}}
        {{pass}}

        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-block">
                <h3 class="card-title">Forecast Weather</h3><br>
                <p class="card-text">
                <table class="table table-hover">
                {{for x in data['list'][0:5]:}}


                    <tr>
                        <td>{{=moment.unix(x['dt']).format("ddd")}}

                        {{=x['temp']['day']}}

                        {{if x['weather'][0]['main'] == "Rain":}}
                            <img src="{{=URL('static','images/rain.png')}}" width="50" height="50">
                        {{=x['weather'][0]['main']}}
                        {{elif x['weather'][0]['main'] == "Sun" or x['weather'][0]['main'] == "Clear":}}
                            <img src="{{=URL('static','images/rain.png')}}" width="50" height="50">
                        {{=x['weather'][0]['main']}}
                        {{else:}}
                            <img src="{{=URL('static','images/cloudy.png')}}" width="50" height="50">
                        {{=x['weather'][0]['main']}}
                        {{pass}}</td>


                    </tr>

                {{pass}}</table>
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card card-outline-primary mb-3 text-center">
            <div class="card-block">
                <div id="wrapper" style="position: relative; height: 50vh">
                    <canvas id="myChart"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    var ctx = document.getElementById("myChart").getContext('2d');

    var block001_json = {{=graph_data}};


    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            datasets: [{
                label: 'Temperature',
                data: block001_json,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
</script>
{{else:}}

{{pass}}